// 左侧导航icon
.icon-nav-base {
	background: url(../assets/images/icon/base.png) no-repeat;
}

.icon-nav-sale {
	background: url(../assets/images/icon/sale.png) no-repeat;
}

.icon-nav-product {
	background: url(../assets/images/icon/product.png) no-repeat;
}

.icon-nav-order-check{
	background: url(../assets/images/icon/order-check.png) no-repeat;
}

.ck-button-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-size: 100%;
	vertical-align: middle;
	margin-top: -2px;
	margin-right: 4px;
}

h1.ck-subnav-caption{
	line-height: 2;
	font-size: 18px;
	font-weight: bold;
}

.wordWrap {
	word-wrap:break-word;
}

.w100 {
	width: 100%!important;
}

.middle {
	vertical-align: middle;
}

.vertical-align-bottom {
	vertical-align:baseline;
}